/* TASK: Use 'Format Document' or 'Format on Save' to fix this mess */
.container{width:100%;display:flex;     justify-content:center;
    background-color: #f0f0f0;
                padding: 20px;
    border:1px solid #000;}
h1 { color: blue; font-size: 12px; }
